<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>/welcome/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>controller.RecentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoneServlet</servlet-name>
    <servlet-class>controller.DoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>controller.AboutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <servlet-class>controller.CompleteTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>controller.EditTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveChangesServlet</servlet-name>
    <servlet-class>controller.SaveChangesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>controller.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoneServlet</servlet-name>
    <url-pattern>/done</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <url-pattern>/complete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveChangesServlet</servlet-name>
    <url-pattern>/savechanges</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>
