<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecentServlet</servlet-name>
    <servlet-class>controller.RecentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoneServlet</servlet-name>
    <servlet-class>controller.DoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>controller.AboutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <servlet-class>controller.CompleteTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>controller.EditTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveChangesServlet</servlet-name>
    <servlet-class>controller.SaveChangesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>controller.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>controller.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/all.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecentServlet</servlet-name>
    <url-pattern>/new.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoneServlet</servlet-name>
    <url-pattern>/done.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <url-pattern>/complete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveChangesServlet</servlet-name>
    <url-pattern>/savechanges.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
</web-app>
